<HTML>

<head>
  <title>
    User Study
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">Ask the supervisor to fill this page.</h1>
        <p class="lead">Check the required items:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="train">
          <label class="form-check-label" for="train">train</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="justice">
          <label class="form-check-label" for="justice">justice</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="apple">
          <label class="form-check-label" for="apple">apple</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="delhi">
          <label class="form-check-label" for="delhi">delhi</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="volcano">
          <label class="form-check-label" for="volcano">volcano</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="law">
          <label class="form-check-label" for="law">law</label>
        </div>
      </div>
    </div>
    <br />
    <button type="button" class="btn btn-primary" onclick="buttonclick()">Continue</button>
  </div>

</body>
<script>
  function buttonclick() {
    var law = 0, train = 0, volcano = 0, delhi = 0, apple = 0, justice = 0;
    if ($('#law').is(":checked")) law = 1;
    if ($('#train').is(":checked")) train = 1;
    if ($('#volcano').is(":checked")) volcano = 1;
    if ($('#delhi').is(":checked")) delhi = 1;
    if ($('#apple').is(":checked")) apple = 1;
    if ($('#justice').is(":checked")) justice = 1;

    var url = '/launch?law=' + law + '&train=' + train + '&volcano=' + volcano + '&delhi=' + delhi + '&apple=' + apple + '&justice=' + justice;
    window.location = url;
  }
</script>

</HTML>